body {
    margin: 1em;
}

.site-page {
    clear: both;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Only show #page-content when printing */
@media print {
    body * {
        visibility: hidden;
    }
    #page-content, #page-content * {
        visibility: visible;
    }
    #page-content {
        position: absolute;
        top: 0;
        left: 0;
    }

    .site-page {
        page-break-after: always;
        page-break-inside: avoid;
    }

}
